.fontFamily() {
  font-family:
    "微软雅黑", "Microsoft YaHei", Arial, sans-serif, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  .fontFamily();
}
